@import "mixins";

html {
  background: url(/images/bg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: white;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica Neue, Helvetica, Arial;
}

.logo {
  @include black-bg;
  margin: 25px;
  font-weight: bold;
  font-size: 70px;
  float: left;
  padding: 0 10px;
}

.page {
  float: right;
  width: 550px;
}

a {
  color: #7954c4;
  text-decoration: none;
  &:hover {
    color: white;
  }
}

form {
  @include black-bg;
  float: right;
  margin: 25px;
  padding: 10px;
}
